<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}">&larr; Туда</a>
    {{/if}}
    <span class="page-number">Страница {{page}} из {{pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">Сюда &rarr;</a>
    {{/if}}
</nav>